@import "../../config";

#contact {
  margin-top: $nav-height;
  display: flex;
  flex-direction: column;

  .contact-info {
    margin-bottom: 1rem;
    @include tablet {
      font-size: 1.7rem;
      margin-bottom: 2rem;
    }
  }
  .email {
    text-align: center;
    background-color: $white-color;
    color: $primary-color;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    margin: 2rem auto;
    @include tablet {
      width: 70%;
      padding: 1rem 2rem;
    }
  }
  .contact-social {
    display: flex;
    justify-content: center;
    * {
      margin: 0 0.5rem;
      @include tablet {
        margin: 0 1rem;
      }
    }
    @include tablet {
      font-size: 4rem;
    }
  }
}
