@import "../../config";

footer {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  .footer-logo {
    font-family: 'Megrim', cursive;
    color: $logo-color;
    font-size: 2rem;
    @include tablet {
      font-size: 3rem;
      align-self: center;
    }
  }
  .footer-nav {
    text-align: center;
    li{
      color: $primary-color;
      font-size: 1.2rem;
      margin: 10px 0;
      list-style-type: none;
      @include tablet {
        font-size: 1.7rem;
      }
    }
  }
  .footer-contact {
    color: $primary-color;
    text-align: center;
    .footer-contact-title {
      font-size: 1.5rem;
      @include tablet {
        font-size: 2rem;
      }
    }
    * {
      margin: 5px 0;
    }
  }
  .footer-social {
    display: flex;
    justify-content: center;
    *{
      margin: 0 0.5rem;
    }
    @include tablet {
      margin: 1rem 0;
      font-size: 3rem;
    }
  }
  .copyright {
    color: $primary-color;
    font-size: 0.8rem;
    align-self: center;
    padding-bottom: 10px;
    @include tablet{
      font-size: 1rem;
    }
  }
}