/* Variable */
$primary-color: #014652;
$white-color: #efefef;
$logo-color: #08B9B8;
$nav-height: 55px;


/* Responsive Design */

$mobile-l: 600px;
$tablet: 768px;
$laptop: 922px;
$large: 1200px;

@mixin tablet {
  @media(min-width: $tablet) {
    @content;
  }
}


/* Mixins */

@mixin transform-slide($time) {
  transition: all $time ease-in-out;
}

/* Base */
html {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: url("./media/img/body-bockground.svg"), $primary-color;
  color: $white-color;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;
  @include tablet {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none;
  color: unset;
}

button {
  color: $primary-color;
}

.container {
  padding: 10px 10px;
}

.bold {
  font-weight: 600;
}

.section-title {
  font-size: 2rem;
  margin: 0 auto;
  @include tablet {
    font-size: 4rem;
  }
}