@import "../../config";

.instrument-wrapper {
  margin-top: $nav-height;
  .search-button-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;
    .filter-button, .back-button {
      width: 47%;
      font-size: 1rem;
      @include tablet {
        width: 40%;
        font-size: 2rem;
        padding: 1rem 2rem;
      }
    }
    @include tablet{
      margin: 2rem 0;
    }
  }
  .filter-results-wrapper{
    background-color: $white-color;
    color: $primary-color;
    height: 60vh;
    border-radius: 10px;
    border: 3px solid $logo-color;
    overflow-y: scroll;
    .results-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 5px;
      border-bottom: 1px solid gray;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      font-size: 1rem;
      &:first-of-type{
        border-top: 1px solid gray;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      &:last-of-type{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .results-composer-name{
        width: 50%;
        font-weight: 600;
        margin-right: 5px;
      }
      .results-piece-name{
        width: 40%;
      }
      .level-image{
        height: 20px;
        @include tablet {
          height: 30px;
        }
      }
      @include tablet {
        font-size: 1.3rem;
        padding: 0.7rem;
      }
    }

  }
}